<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css
" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<main class="main-wrap">

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories </h2>
                {{!-- <p>Add, edit or delete a Category</p> --}}
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form action="/admin/category" method="post">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Category Name</label>
                                <input type="text" name="name" id="product_name" required placeholder=" Add new category here"
                                    class="form-control" id="product_name" />
                                <div id="name-error" class="error-message"></div>

                            </div>

                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" name="description" class="form-control" required></textarea>
                            </div>
                            <div class="dropdown">
                                <div class="mb-3">
                                    <label for="category-status" class="form-label">Category Status:</label>
                                    <select class="form-select" id="category-status" name="categoryStatus">
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                </div>

                            </div>
                            {{#if failed}}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                            </div>
                            {{/if}}
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Create category</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            {{!-- <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div> --}}
                                        </th>
                                        {{!-- <th>Sl no:</th> --}}
                                        <th>Sl.no</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th class="text-end">Actions</th>
                                        {{!-- <th class="text-end">Action</th> --}}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- {{categories}} --}}
                                    {{#each categories}}
                                    <tr>
                                        <td class="text-center">
                                            {{!-- <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div> --}}
                                        </td>
                                        <td>{{incrementedIndex @index }}</td>
                                        <td><b>{{this.name}}</b></td>
                                        <td>{{this.description}}</td>
                                        {{#if this.categoryStatus}}
                                        <td>Active</td>
                                        {{else}}
                                        <td>Inactive</td>
                                        {{/if}}
                                        <td class="text-end">
                                            {{!-- <div class="dropdown"> --}}
                                                {{!-- <a href="#" data-bs-toggle="dropdown"
                                                    class="btn btn-light rounded btn-sm font-sm"> </a> --}}
                                                <form id="category-listing-form" {{!--
                                                    action="/admin/categorylisting/{{this._id}}" method="POST" --}}>
                                                    {{#if this.categoryStatus}}
                                                    <button type="submit" class="btn btn-sm btn-danger"
                                                        name="categoryStatus" value="false"
                                                        onclick="categoryModification('{{this._id}}',false)">Unlist</button>
                                                    {{else }}
                                                    <button type="submit" class="btn btn-sm btn-success"
                                                        name="categoryStatus" value="true"
                                                        onclick="categoryModification('{{this._id}}',true)">Activate</button>
                                                    {{/if }}

                                                </form>


                                        </td>

                                       

                                    {{/each}}
                                   
                                </tbody>

                            </table>
                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->

</main>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
    const categoryModification = (categoryId, newStatus) => {
        event.preventDefault();
        console.log("Category Modification Script")
        Swal.fire({
            title: "Are you sure?",
            text: "Changing the Category status will change the status of Products under this category!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3c0d51',
            cancelButtonColor: '#bb321f',
            confirmButtonText: 'Continue',
        }).then((result) => {
            console.log("Result", result)
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/categorylisting/' + categoryId,
                    method: 'POST',
                    data: {
                        categoryId, newStatus
                    },
                    success: (response) => {
                        console.log(response);
                        if (response.success) {
                            Toastify({
                                text: "Category & Product Status Updated ",
                                duration: 3000, // Set the duration for which the toast should be displayed (in milliseconds)

                                gravity: "center", // Display the toast at the top of the screen
                                backgroundColor: "#ffff", // Set the background color of the toast
                                stopOnFocus: false, // Stop the toast from automatically disappearing when it receives focus
                                style: {
                                    top: "20px",
                                    left: "550px",
                                    width: "300px",
                                    height: "auto",
                                    color: "black"
                                }
                            }).showToast();
                            setTimeout(function () {
                                location.reload()

                            }, 2000)

                        } else {
                            // Handle error case
                            Toastify({
                                text: "Error: Unable to update category and product status",
                                duration: 3000,
                                gravity: "center",
                                backgroundColor: "#ff0000",
                                stopOnFocus: false,
                                style: {
                                    top: "20px",
                                    left: "550px",
                                    width: "300px",
                                    height: "auto",
                                    color: "white"
                                }
                            }).showToast();
                        }
                    }, error: (xhr, status, error) => {
                        // Handle AJAX error
                        console.error(xhr, status, error);
                        Toastify({
                            text: "An error occurred while updating category and product status",
                            duration: 3000,
                            gravity: "center",
                            backgroundColor: "#ff0000",
                            stopOnFocus: false,
                            style: {
                                top: "20px",
                                left: "550px",
                                width: "300px",
                                height: "auto",
                                color: "white"
                            }
                        }).showToast();
                    }
                })
            }
        })
    }
</script>