
<main class="main-wrap">
              <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    
                </div>
                {{!-- <div>
                    <a href="#" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Sales report</a>
                </div> --}}
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Revenue</h6>
                                <span> {{formatCurrency totalMonthlyRevenue.[0].totalPrice }}</span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders Pending Approval</h6> <span>{{ordersPendingCount}}</span>
                               
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Active Products </h6> <span>{{totalActiveProductsCount}}</span>
                                <span class="text-sm">
                                    In {{totalActiveCategories}} Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span>{{formatCurrency totalMonthlyProfit}}</span>
                                <span class="text-sm">
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div>


                   
                    <div class="row">
                        <div class="col-lg-5" style="display: inline-block;">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title text-center">New Members</h5>
                                    <div class="new-member-list">
                                         {{#firstN users 3}}
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                           
                                            <div class="d-flex align-items-center">
                                                {{!-- <img src="assets/imgs/people/avatar4.jpg" alt="" class="avatar"> --}}
                                                                                                <div>
                                                    <h6><a href="">{{this.name}}</a></h6>
                                            
                                                </div>
                                            </div>
                                            {{!-- <a href="#" class="btn btn-xs"></i> Details</a> --}}
                                        </div>{{/firstN}}
                                        
                                    </div>
                                </article>
                            </div>
                        </div>
                        {{!-- <div class="col-lg-7">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title">Recent activities</h5>
                                    <ul class="verti-timeline list-unstyled font-sm">
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>Today</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Lorem ipsum dolor sit amet consectetur
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list active">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl animation-fade-right"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>17 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Debitis nesciunt voluptatum dicta reprehenderit
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>13 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Accusamus voluptatibus voluptas.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>05 April</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        At vero eos et accusamus et iusto odio dignissi
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>26 Mar</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Responded to need “Volunteer Activities
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div> --}}
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        
                        <article class="card-body">
                            <h5 class="card-title text-center">Payment Method</h5>
                            <canvas id="myPieChart" width="250" height="200"></canvas>
                        
                
                        </article>
                    </div>
                    {{!-- <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Marketing Chanel</h5>
                            <span class="text-muted font-xs">Facebook</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                            </div>
                            <span class="text-muted font-xs">Instagram</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 65%">65% </div>
                            </div>
                            <span class="text-muted font-xs">Google</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 51%"> 51% </div>
                            </div>
                            <span class="text-muted font-xs">Twitter</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                            </div>
                            <span class="text-muted font-xs">Other</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                            </div>
                        </article>
                    </div> --}}
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <h4 class="card-title">Latest orders</h4>
                    <div class="row align-items-center">
                   
                        {{!-- <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div> --}}
                        <div class="col-md-2 col-6">
                            <div class="custom_select">
                                {{!-- <select class="form-select select-nice">
                                    <option selected>Status</option>
                                    <option>All</option>
                                    <option>Paid</option>
                                    <option>Chargeback</option>
                                    <option>Refund</option>
                                </select> --}}
                            </div>
                        </div>
                        <div>  </div>
                         <div class="col-md-2 col-6" style="float: right;">
                            <h6><a href="/admin/orders"> More</a></h6>
                         </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        
                                        <th class="align-middle text-center" scope="col">Order ID</th>
                                        <th class="align-middle" scope="col">Billing Name</th>
                                        <th class="align-middle" scope="col">Date Ordered</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="align-middle" scope="col">Payment Status</th>
                                        <th class="align-middle" scope="col">Payment Method</th>
                                        <th class="align-middle" scope="col">Delivery Pincode</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#firstN orders 5 }}

                                    <tr>
                                        <td class="text-center">
                                            <a href="/admin/orderdetails/{{this._id}}" class="fw-bold">{{this.orderId}}</a> 
                                        </td>
                                        
                                        <td>{{this.customer.name}}</td>
                                        <td>
                                            {{formatDate this.dateCreated}}
                                        </td>
                                        <td>
                                           ₹ {{this.totalPrice}}
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-success">{{this.orderStatus}}</span>
                                        </td>
                                        <td>
                                            <i class="material-icons md-payment font-xxl text-muted mr-5"></i> {{this.PaymentMethod}}
                                        </td>
                                        <td>
                                         <a href="https://www.google.com/maps?q={{this.deliveryAddress.pinCode}}" target="_blank"> {{this.deliveryAddress.pinCode}}</a>

                                        </td>
                                    </tr>
                                   
                                    {{/firstN}}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
            {{!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> --}}
        </section> <!-- content-main end// -->
      
    </main>

{{!-- ChartJs CDN --}}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
        // Retrieve the canvas element

//const monthlyOrdersData = [
//  { month: 1, count: 10 },
//  { month: 2, count: 15 },
//  { month: 3, count: 20 },
//  { month: 4, count: 12 },
//  { month: 5, count: 18 },
//  { month: 6, count: 8 },
//  { month: 7, count: 10 },
//  { month: 8, count: 12 },
//  { month: 9, count: 15 },
//  { month: 10, count: 22 },
//  { month: 11, count: 20 },
//  { month: 12, count: 18 },
//];

const canvas = document.getElementById('myChart');

// Retrieve the data for the chart
  const monthlyOrdersData = [{{monthlyOrdersArray}}];
 let arr = monthlyOrdersData.map(x => parseInt(x));
const monthlyReturnedOrdersData =[{{monthlyReturnedOrdersArray}}]
 let returnArr = monthlyReturnedOrdersData.map(x => parseInt(x));

  //{{monthlyOrdersData}}.forEach((data) => {
   // console.log(`Month: ${data.month}, Count: ${data.count}`);
//});
 //console.log(monthlyOrdersArray);

//await monthlyOrders();


// Create the chart
const chart = new Chart(canvas, {
  type: 'bar',
  data: {
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    datasets: [{
      label: 'Number of Orders',
      data: arr,
      backgroundColor: 'rgba(32, 184, 19, 0.8)',
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    },
    {
      label: 'Number of Returns',
      data: returnArr,
      backgroundColor: 'rgba(248, 0, 0, 0.8)',
      //borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

</script>

<script>
var ctx = document.getElementById('myPieChart').getContext('2d');
const paymentStat=[{{paymentStatistics}}];
const stat=paymentStat.map(x=>parseInt(x));
console.log(stat);


var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['COD', 'RaorPay'],
        datasets: [{
            data:paymentStat,
            backgroundColor: ['#e31919', '#2d92f7']
        }]
    },
    options: {
        responsive: false,
        maintainAspectRatio: true
    }
});

</script>